/* Global variables */
:root {
    /* Colors */
    --gray-0: #0f0f0f;
    --gray-100: #1c1c1c;
    --gray-200: #383838;
    --gray-300: #575757;
    --gray-400: #737373;
    --gray-500: #8f8f8f;
    --gray-600: #ababab;
    --gray-700: #c9c9c9;
    --gray-800: #e5e5e5;
    --gray-900: #f2f2f2;
    --gray-999-basis: 0, 0%, 97%;
    --gray-999: #f7f7f7;

    --accent-regular: #032f5f;
    --accent-subtle: #7b8da2;
    --accent-text-over: var(--gray-999);
    --link-color: var(--accent-regular);

    /* Gradients */
    --card-gradient: radial-gradient(var(--gray-900), var(--gray-800) 150%);
    --gradient_1: linear-gradient(
        0deg,
        rgba(123, 141, 162, 0.5) 0%,
        rgba(247, 247, 247, 1) 100%
    );
    --gradient_2: linear-gradient(
        0deg,
        rgba(247, 247, 247, 1) 0%,
        rgba(123, 141, 162, 0.5) 100%
    );

    /* Shadows */
    --shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01),
        0px 4px 2px rgba(9, 11, 17, 0.01), 0px 2px 2px rgba(9, 11, 17, 0.02),
        0px 0px 1px rgba(9, 11, 17, 0.03);
    --shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01),
        0px 16px 10px rgba(9, 11, 17, 0.03), 0px 7px 7px rgba(9, 11, 17, 0.05),
        0px 2px 4px rgba(9, 11, 17, 0.06);
    --shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01),
        0px 35px 21px rgba(9, 11, 17, 0.05), 0px 16px 16px rgba(9, 11, 17, 0.1),
        0px 4px 9px rgba(9, 11, 17, 0.12);

    /* Text Sizes */
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-md: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.625rem;
    --text-2xl: 2.125rem;
    --text-3xl: 2.625rem;
    --text-4xl: 3.5rem;
    --text-5xl: 4.5rem;

    /* Fonts */
    --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    --font-body: "Public Sans", var(--font-system);
    --font-brand: Rubik, var(--font-system);

    /* Transitions */
    --theme-transition: 0.2s ease-in-out;
}

html,
body {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--gray-999);
    color: var(--gray-200);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.1;
    font-family: var(--font-brand);
    font-weight: 600;
    color: var(--gray-100);
}

h1 {
    font-size: var(--text-5xl);
}

h2 {
    font-size: var(--text-4xl);
}

h3 {
    font-size: var(--text-3xl);
}

h4 {
    font-size: var(--text-2xl);
}

h5 {
    font-size: var(--text-xl);
}

/* Utilities */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.stack {
    display: flex;
    flex-direction: column;
}

.gap-2 {
    gap: 0.5rem;
}
.gap-4 {
    gap: 1rem;
}
.gap-8 {
    gap: 2rem;
}
.gap-10 {
    gap: 2.5rem;
}
.gap-15 {
    gap: 3.75rem;
}
.gap-20 {
    gap: 5rem;
}
.gap-30 {
    gap: 7.5rem;
}
.gap-48 {
    gap: 12rem;
}

.my-22 {
    margin: 5.5rem 0;
}

.my-48 {
    margin: 12rem 0;
}

.mb-22 {
    margin-bottom: 5.5rem;
}

.mb-28 {
    margin-bottom: 7rem;
}

.pt-22 {
    padding-top: 5.5rem;
}

.pt-28 {
    padding-top: 7rem;
}

.py-22 {
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
}

.py-28 {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

@media (min-width: 48rem) {
    .lg\:gap-2 {
        gap: 0.5rem;
    }
    .lg\:gap-4 {
        gap: 1rem;
    }
    .lg\:gap-8 {
        gap: 2rem;
    }
    .lg\:gap-10 {
        gap: 2.5rem;
    }
    .lg\:gap-15 {
        gap: 3.75rem;
    }
    .lg\:gap-20 {
        gap: 5rem;
    }
    .lg\:gap-30 {
        gap: 7.5rem;
    }
    .lg\:gap-48 {
        gap: 12rem;
    }

    .lg\:my-22 {
        margin: 5.5rem 0;
    }

    .lg\:my-48 {
        margin: 12rem 0;
    }

    .lg\:mb-22 {
        margin-bottom: 5.5rem;
    }

    .lg\:mb-28 {
        margin-bottom: 7rem;
    }

    .lg\:pt-22 {
        padding-top: 5.5rem;
    }

    .lg\:pt-28 {
        padding-top: 7rem;
    }

    .lg\:py-22 {
        padding-top: 5.5rem;
        padding-bottom: 5.5rem;
    }

    .lg\:py-28 {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
}
