---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import Nav from "../components/Nav.astro";

// Page section components
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import Portfolio from "../components/Portfolio.astro";
import Accolades from "../components/Accolades.astro";

import "aos/dist/aos.css";
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
    <Nav />
    <main class="stack">
        <Hero
            title="Hi, I'm Jane Doe"
            tagline="Lorem ipsum dolor sit amet, consectetur adipiscing elit"
        />
        <Skills />
        <Portfolio />
        <Accolades />
    </main>
</BaseLayout>

<script>
    import AOS from "aos";

    AOS.init();

    const createObserver = (element: Element | null) => {
        const options = {
            threshold: 0.5,
        };

        const observer = new IntersectionObserver((entries) => {
            const navElement = document.querySelector(
                `#${(element as HTMLElement | null)?.dataset?.navId}`,
            );
            entries.forEach((entry, idx) => {
                if (!navElement) return;
                if (entry.isIntersecting) {
                    document
                        .querySelectorAll(".menu-content a")
                        .forEach((link) => link.classList.remove("active"));
                    navElement.classList.add("active");
                }
            });
        }, options);

        element && observer.observe(element);
    };

    const sections = document.querySelectorAll(
        "#about, #portfolio, #skills, #accolades",
    );

    sections.forEach((section) => {
        createObserver(section);
    });
</script>
