---
import Icon from "./Icon.astro";
---

<div class="header">
    <a href="/" class="site-title"> John Doe </a>
</div>

<style>
    .header {
        position: absolute;
        display: flex;
        padding: 1.5rem;
        font-family: var(--font-brand);
        line-height: 40px;
        font-weight: 500;
    }

    .site-title {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        color: var(--gray-0);
        text-decoration: none;
    }

    @media (min-width: 48rem) {
        .header {
            padding: 2rem 4rem;
        }

        .site-title {
            font-size: var(--text-lg);
            line-height: 3.125rem;
        }
    }
</style>
