---
interface Props {
    project: {
        name: string;
        description: string;
        img: string;
        img_alt: string;
    };
}

const { name, img, img_alt } = Astro.props.project;
---

<div class="card">
    <span class="title">{name}</span>
    <img src={img} alt={img_alt || ""} loading="lazy" decoding="async" />
</div>

<style>
    .card {
        display: block;
        position: relative;
        aspect-ratio: 5/7;
        background: var(--gradient-subtle);
        border: 1px solid var(--gray-800);
        border-radius: 0.75rem;
        overflow: hidden;
        box-shadow: var(--shadow-sm);
        text-decoration: none;
        font-family: var(--font-brand);
        font-size: var(--text-lg);
        font-weight: 500;
        transition: box-shadow var(--theme-transition);
        max-height: 602px;
        text-decoration: none;
    }

    .card:hover {
        box-shadow: var(--shadow-md);
    }

    .title {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 0.5rem 1rem;
        color: var(--gray-999);
        text-align: center;
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (min-width: 62rem) {
        .card {
            border-radius: 1.5rem;
        }
    }
</style>
